<div class="container">
    <table
        class="table table-striped table-borderless table-sm"
        id="gamesTable"
    >
        <thead>
            <tr>
                <th>user</th>
                <th>name</th>
                <th>score</th>
                <th>turns</th>
                <th>highest tile</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% for (let game of games) { %>
                <tr>
                    <td><%- game.user.username %></td>
                    <td><%- game.name %></td>
                    <td><%- game.score %></td>
                    <td><%- game.turns %></td>
                    <td><%- game.highestTile %></td>
                    <td><button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-trash"></span> Trash 
                      </button></td>
                </tr>
            <% } %>
        </tbody>
    </table>

    <hr>

    <p>To play the game clone <a href="https://github.com/berkeleyhackclub/HackGame">this</a> repository.</p>
</div>


<script
    type="text/javascript"
    src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"
></script>

<script>
    $(document).ready(function () {
        $('#gamesTable').DataTable({
            "order": [[2, "desc" ], [3, "asc" ]],
            'aoColumns': [
                null,
                null,
                null,
                null,
                null,
                {
                    'bSortable': false
                }
            ]
        })
    })
</script>