<div class="container">
    <table
        class="table table-striped table-borderless table-sm"
        id="gamesTable"
    >
        <thead>
            <tr>
                <th>user</th>
                <th>name</th>
                <th>score</th>
                <th>turns</th>
                <th>highest tile</th>
            </tr>
        </thead>
        <tbody>
            <% for (let game of games) { %>
                <tr id="<%- game.id %>">
                    <td><%- game.user.username %></td>
                    <td><%- game.name %></td>
                    <td><%- game.score %></td>
                    <td><%- game.turns %></td>
                    <td><%- game.highestTile %>
                        <% if ( session && session.user.id == game.user.id ) { %>
                            <i
                                style="float: right; padding-top: 4px; cursor: pointer;"
                                class="fas fa-trash"
                                onclick="deleteGame('<%- game.id %>')">
                            </i>
                        <% } %>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>

    <hr>

    <p>To play the game clone <a href="https://github.com/berkeleyhackclub/HackGame">this</a> repository.</p>
</div>


<script
    type="text/javascript"
    src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"
></script>

<script>
    let table;

    function deleteGame(id) {
        // clear it from the table
        let page = table.page()
        table.row(document.getElementById(id)).remove().draw()
        table.page(page).draw(false)

        // tell the server to delete it
        $.ajax({
            url: "/deleteGame",
            method: "POST",
            data: { id: id }
        })
    }

    $(document).ready(function () {
        table = $('#gamesTable').DataTable({
            "order": [[2, "desc" ], [3, "asc" ]]
        })
    })
</script>